$c1=#151414
$c2=#7E929E
$c3=lighten(#847062, 10%)
$c4=#DDD1CB
$c5=#949B99
$red=#eb4034

$smallScreenWidth = 970px
small-screen()
  @media only screen and (max-width: $smallScreenWidth)
    {block}


:root
  --c1 $c1
  --c2 $c2
  --c3 $c3
  --c4 $c4
  --c5 $c5
  --red $red

  --button-gradient -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 75%,rgba(0,0,0,0.2) 100%)
  --button-gradient-active -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 75%,rgba(0,0,0,0.1) 100%)

  --icon-size 35pt
  --small-size 15pt
  --point-size 25pt

  +small-screen()
    --icon-size 25pt
    --small-size 15pt
    --point-size 15pt

  --header-size calc(25pt + 3px)
  --actions-size calc(var(--icon-size) + var(--small-size) + var(--point-size) + 25px)
  --history-size 40%

  +small-screen()
    --history-size 20%


html
  width 100%
  height 100%
  padding 0px
  margin 0px
  overflow hidden
body
  overflow hidden
  width 100%
  height 100%
  padding 0px
  margin 0px
  background var(--button-gradient) var(--c2)
  color var(--c1)
  font-family: 'Jomolhari', serif

h2
  font-family: 'Noto Sans', sans-serif;

.template
  display none

.entries
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: flex-start
  align-content:  flex-start

a.entry
  flex-grow: 0.2
  text-decoration: none
  color var(--c1)
  border-radius 15px
  box-shadow 1px 2px 5px black
  display: inline-block
  background: var(--button-gradient) var(--c3)
  margin 10px
  padding 10px
  border 1px solid var(--c4)

  +small-screen()
    margin 15px
    padding 3px

  &:hover
    background var(--button-gradient-active) var(--c3)
  &:active
    transform: translate(3px, 3px)
    box-shadow: none

  .entry-icon
    font-size: var(--icon-size)
    text-align: center
  .entry-image
    max-width calc(35px + var(--icon-size))
    max-height calc(35px + var(--icon-size))
    margin auto
    display: block
    //filter drop-shadow(2px 2px 3px rgba(0,0,0,00.7))
  .entry-name
    font-size var(--small-size)
    text-align: center
    font-weight: bold

  .entry-points
    text-align center
    font-size var(--point-size)
    font-family: 'Cutive Mono', monospace

  &.flare-up
    flex-grow 1
    --c3 var(--red)

.remaining-box
  margin: 20px
  text-align: center
  font-size 40pt
  text-shadow: 1px 1px 5px var(--c3)
  +small-screen()
    text-align: center
    font-size 14pt
    height 25pt
    margin 0px
    margin-bottom 3px
    box-shadow: 0px 3px 5px var(--c1)
    background-color var(--c3)
    vertical-align: middle
    line-height: 25pt
    z-index: 100
  #refresh-button
    position: absolute
    right 5px
    text-decoration none
    color var(--c1)
    margin-right 5px

.points-remaining
  font-family: 'Cutive Mono', monospace

.history-entry
  margin: 0.3em
  .entry-points
    display: inline
    font-family: 'Cutive Mono', monospace
  .entry-icon
    padding 0px 0.5em
    display: inline
  .entry-name
    display inline
    text-decoration: underline;

#actions
  height var(--actions-size)
  overflow: hidden
  margin 0px

#history
  height var(--history-size)
  overflow-y: scroll
  padding-top 5pt
  h2
    margin 0px

#food-buttons
  --view-height calc(100% - var(--header-size) - var(--actions-size) - var(--history-size))
  height var(--view-height)
  overflow-y: auto
  +small-screen()
    &:before
      display: block
      content: ' '
      position: absolute;
      top calc(var(--header-size) + var(--view-height))
      width: 100%
      height: 1px
      box-shadow: 0px -3px 5px black

.menubutton
  font-size: var(--icon-size)
  float: left
